.gridContainer {
    display: flex;
    flex-wrap: wrap;
    max-width: 544px;
    min-width: 544px;
    min-height: 544px;
    max-height: 544px;
    flex: 0 0 1;
    align-items: center;
    justify-content: center;
    margin: 30px auto 20px;
    border: red solid 1px;
    
}

h1 {
    color: rebeccapurple;
    margin: 0 auto 0;
    display: flex;
    justify-content: center;
    background-color: beige;
}

.buttonsContainer {
    display: flex;
    justify-content: center;
}

.rainbow,
.reset,
.gridUserInput,
.normal,
.eraser,
.customColor {
    margin: 0 25px;
}

.topButton {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
}

button {
    background-color: beige;
    border-radius: 12px;
    width: 150px;
}

